<div class="mt-8">
  <p class="text-[16px] font-bold mb-4 text-gray-500">Add Members</h2>
  
  <div class="mb-4">
    <input type="text" 
           id="member-search" 
           class="form-input"
           placeholder="Search users by email or name..."
           data-controller="search"
           data-search-url-value="<%= search_members_club_path(@club) %>"
           data-action="input->search#perform">
  </div>

  <div id="search-results" class="mt-4">
    <%= render 'search_results' %>
  </div>
</div> 