<%= turbo_frame_tag announcement do %>
  <div class="min-h-screen bg-gray-50 w-full p-[24px]">
    <div class="w-full">
    <div class="bg-white rounded-lg shadow-sm p-6 mb-[16px] flex items-center">
      <div class="icon-style">
        <i class="fas fa-house text-white"></i>
      </div>
      <div class="ml-4">
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          Edit Announcement
        </h3>
        <p class="mt-1 text-sm text-gray-500">
        Update the announcement details.
        </p>
      </div>
    </div>
      <div class="bg-white rounded-lg shadow-sm p-6">
        <h3 class="text-lg font-bold mb-6 text-gray-400">Announcement</h3>
        <%= render "form", announcement: @announcement %>
      </div>
    </div>
  </div>
<% end %> 