<%= turbo_frame_tag 'flash' do %>
  <% flash.each do |type, message| %>
    <div class="fixed top-20 w-min right-0 transform z-50 text-nowrap bg-gray-300 shadow-lg p-4 rounded-lg flex items-center justify-between flash-message"
         role="alert"
         data-controller="flash">
      <div class="flex items-center mr-6">
        <% if type == 'notice' %>
          <svg class="h-6 w-6 text-green-500 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
          </svg>
        <% else %>
          <svg class="h-6 w-6 text-yellow-500 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"></path>
          </svg>
        <% end %>
        <p class="<%= type == 'notice' ? 'text-green-800' : 'text-yellow-800' %>">
          <%= message %>
        </p>
      </div>
      <button
        data-action="flash#remove"
        class="<%= type == 'notice' ? 'text-green-700 hover:text-green-900' : 'text-yellow-700 hover:text-yellow-900' %> mb-1">
        <span class="text-2xl">&times;</span>
      </button>
    </div>
  <% end %>
<% end %>